<div class="main">
  <div class="main__header">
    <span class="main__header__title">{{title}}</span>
  </div>
  <div class="main__timer" [ngClass]="{'main__timer--red': timer <= 5, 'main__timer--orange': timer > 5 && timer <= 10}">
    <i class="pi pi-{{timer > 5 ? 'clock' : 'bell'}} main__timer__icon"></i>
    <span class="main__timer__label">Time: {{timer}}s</span>
  </div>
  <div class="main__content">
    <p-carousel [value]="questions" [showNavigators]="false" [page]="questionIndex">
      <ng-template let-question pTemplate="item">
        <app-question [isFinish]="finishQuestionnaire"
                      [question]="question?.question"
                      [answers]="question?.answers"
                      [correctAnswer]="question?.correct_answer"
                      (toNextQuestion)="toNextQuestion()">
        </app-question>
      </ng-template>
    </p-carousel>
  </div>
  <app-summary *ngIf="finishQuestionnaire" (resetEmit)="reset()"></app-summary>
</div>

